@keyframes myfirst
  {
    0%   {left: 0%;}
    50%  {left:-50%;}
    100% {left:-100%;}
  }

.login_wrap{
  margin: 233px 107px 360px 107px;
  .login_title{
    text-align: center;
    color: #fff;
    margin-bottom: 18px;
  }
  .login_ipt{
    border-bottom: 1px solid #F1F3FF;
  }
  .login_ipt input {
      color: #fff;
      border: 0;
      padding: 5px 10px;
      height: 50px;
      width: 100%;
      font-size: 14px;
      background: transparent;
      outline: 0 none;
  }
  .login_code input{
    width: 75%;
  }
  .code_btn{
    height: 36px;
    width: 25%;
    border-radius: 20px;
    background-color: #FFA338;
    border:0 none;
    color: #fff;
  }
  .login_ipt input::-moz-placeholder {
    color:rgba(255,255,255,0.6);
    
  }
  .login_ipt input::-ms-input-placeholder {
    color:rgba(255,255,255,0.6);
  }
  .login_ipt input::-webkit-input-placeholder {
    color:rgba(255,255,255,0.6);
  }
  .label_word{
    margin: 30px 10px 5px;
    height: 20px;
    font-size: 14px;
    color:rgba(255,255,255,1);
  }
}
.hideLabel{
  visibility: hidden;
}
.login_popup{
  width:37%;
  height: 100%;
  background:linear-gradient(to bottom,#3A4AC6,#586AF4);
  position: absolute;
  right:0;
  top:0;
  z-index: 20;
  .close{
    float:right;
    margin: 29px 49px 0 0;
    opacity: 0.7;
  }
  .close:hover{
    opacity: 1;
  }
}
.move-up-enter-active,.move-up-leave-active{
  transition: all 1s;
}
.move-up-enter, .move-up-leave-to{ 
  transform:translateY(40px);
  opacity: 1;
}
.slideLeft-enter-active, .slideLeft-leave-active{ 
  transition: all 3s;
  
}
.slideLeft-enter, .slideLeft-leave-to{ 
  right:-37%;
}

.b_blue{
  color: #1B79F9;
}
.b_333{
  color: #333;
}
#app{
  background-color: #F1F3FF
}
header{
  height: 980px;
  background-image: url('../../assets/img/header-star.png');
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
}
.logo{
  margin: 30px 100px;
  display: inline-block;
  width: 160px;
}
.reg{
  width:80px;
  height:32px;
  margin:44px 10px;
  float:right;
  color: #fff;
  border: 1px solid #eee;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  border-radius:16px;
}
.lang{
  line-height: 32px;
  float:right;
  height:32px;
  margin:44px 150px 44px 20px;
}
.banner{
  // background-image: url('../../assets/img/header-pic.png');
  background-image: url('../../assets/img/pic_01.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height:359px;
  width: 50%;
  float: right;
  margin-top: 186px;
  
}
.banner_title{
  position: relative;
  top: 246px;
  left: 12%;
  font-size: 58px;
  line-height: 60px;
  font-weight: bold;
  color: #fff;

}
.get_more{
  position: relative;
  width:285px;
  height:78px;
  border-radius:39px;
  left: 12%;
  top:254px;
  background-clip: padding-box;
  color: #fff;
  font-size: 22px;
  line-height: 78px;
  text-align: center;
  border:5px solid transparent;
}
.get_more:after {
  position: absolute;
  top: -5px; bottom: -5px;
  left: -5px; right: -5px;
  background: linear-gradient(to right, #FFB144,#F65F3F);
  content: '';
  z-index: -1;
  border-radius:39px;
}
.roof{
  height: 120px;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 100%;
  font-size: 18px;
  .notice_text{
    display: flex;
    justify-content: space-around;
    align-items:center;
    position: relative;
    i{
      font-size: 12px;
      margin-right: 2px;
      vertical-align: text-top;
      line-height: 16px;
    }
  }
  .notice_text:hover{
    animation-play-state: paused;
  }
}

.home_nav {
  position: absolute;
  left: 30%;
  top: 40px;
  height: 36px;
}
.home_nav > li {
  position: relative;
  list-style: none;
  display: block;
  float: left;
  font-size: 16px;
  font-family: "Adobe Heiti Std R"
}
.home_nav > li > a {
  position: relative;
  display: block;
  padding: 7px 15px;
  color: #f7f7f7;
}
.home_nav > li > a:hover{
  text-decoration: none;
  color: #fff;
}
.home_nav > li.active> a {
  color:#FFB72B;
}
.home_nav > li.active>a:before {
  
  content:''; width:10px; height:10px; border-radius:50%; background:#FFB72B; display:inline-block; margin-right:8px; vertical-align:middle; margin-top:-3px;
}
.home_title{
  text-align: center;
  padding-top: 183px;
  font-size:100px;
  line-height: 90px;
  height: 273px;
  color: #fff;
  font-family:Microsoft Sans Serif;
  text-shadow: 5px 5px 5px #000D2C;
}
.home_info{
  width: 668px;
  height: 44px;
  border-radius: 20px;
  background: linear-gradient(to right,#3FD2FF, #63A4FF, #4AC0FE);
  margin: 75px auto;
  line-height: 44px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-family: SimHei;
}
.carousel-indicators{
  bottom:60px;
}

@media (min-width: 1480px){
  .container {
    width: 1320px;
  } 
}
@media (min-width: 1680px){
  .container {
    width: 1540px;
  } 
}
@media (min-width: 1880px){
  .container {
    width: 1660px;
  } 
}


