
.b_blue{
  color: #1B79F9;
}
.b_333{
  color: #333;
}
.roof{
  height: 40px;
  line-height: 40px;
  background-color: #2264D4;
  color: #fff;
  width: 100%;
  font-size: 14px;
  .notice_text{
    display: flex;
    justify-content: space-around;
    align-items:center;
  }
}
.banner{
  height: 559px;
  background-image: url('../../assets/img/banner1.png') ;
  background-size:100% 100%;
  position: relative;
}

.home_nav {
  position: absolute;
  list-style: none;
  left: 50%;
  top: 25px;
  height: 36px;
}
.home_nav > li {
  position: relative;
  display: block;
  float: left;
  font-size: 16px;
  font-family: "Adobe Heiti Std R"
}
.home_nav > li > a {
  position: relative;
  display: block;
  padding: 7px 15px;
  color: #c2c2c2;
}
.home_nav > li > a:hover{
  text-decoration: none;
  color: #fff;
}
.home_nav > li > a:focus {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.home_title{
  text-align: center;
  padding-top: 183px;
  font-size:100px;
  line-height: 90px;
  height: 273px;
  color: #fff;
  font-family:Microsoft Sans Serif;
  text-shadow: 5px 5px 5px #000D2C;
}
.home_info{
  width: 668px;
  height: 44px;
  border-radius: 20px;
  background: linear-gradient(to right,#3FD2FF, #63A4FF, #4AC0FE);
  margin: 75px auto;
  line-height: 44px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-family: SimHei;
}
.carousel-indicators{
  bottom:60px;
}
.trade_info{
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items:center;

}
.advantage{
  height: 220px;
  display: flex;
  justify-content: space-around;
  .feature{
    margin: 40px 0 38px 0;
    text-align: center;
  }
  .feature img{
    height: 75px;
    width: 75px;
  }
  .feature span{
    display: block;
    margin: 15px auto  7px;
    text-align: center;
  }
}

.notice{
  background-color: #f1f1f1;
  height: 46px;
}

.data_section{
  .line{
    margin-top: 41px;
    border-bottom: 1px solid #1B79F9;
    width: 531px;
  }
  .container .title{
    margin: 15px 0 34px 0 ;
    .w_en{
      font-size: 18px;
      font-family: "MicrosoftYaHeiUI";
      color: #1B79F9;
      margin-bottom: 0;
    }
    .w_zh{
      font-size: 18px;
      color: #333;
      font-family: "SourceHanSansCN-Normal";
      margin-bottom: 0;
    }
    .short_line{
      width: 21px;
      border: 1px solid #1B79F9;
      margin-top: 31px;
    }
  }

}
.data_info{
  .currency{
    max-width:600px;
    width: 50%;
    height: 52px;
    background-color: #f9f9f9;
    line-height: 52px;
    text-align: center;
    color: #000;
    font-size: 18px;
    float: left;
    
  }
  .selected{
    color: #fff;
    background-color:#1B79F9;
  }
}

.currency_nav{
  list-style: none;
  height: 42px;
  line-height: 42px;
  padding: 0;
  text-align: left;
  background-color: #f1f1f1;
  li{
    float: left;
    font-size: 18px;
    width: 16%;
    color: #666;
  }
}
.currency_datas{
  background-color: #fff; 
  thead tr th{
    height: 42px;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid #eee;
  }
  tbody tr td{
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding: 0;
  }
}


.client_section{
  margin-top: 67px;
  background-repeat: no-repeat;
  height: 734px;
  width: 100%;
  background-size: 100% 100%;
  background-image: url('../../assets/img/client.png');
  .line{
    margin-top: 33px;
    border-bottom: 1px solid #1B79F9;
    width: 531px;
  }
  .container .title{
    margin: 15px 0 34px 0 ;
    .w_en{
      font-size: 18px;
      font-family: "MicrosoftYaHeiUI";
      color: #1B79F9;
      margin-bottom: 0;
    }
    .w_zh{
      font-size: 18px;
      color: #333;
      font-family: "SourceHanSansCN-Normal";
      margin-bottom: 0;
    }
    .short_line{
      width: 21px;
      border: 1px solid #1B79F9;
      margin-top: 31px;
    }
  }

}

.dynamics_section{
  margin-top: 70px;
  height: 500px;
  width: 100%;
  .line{
    margin-top: 33px;
    border-bottom: 1px solid #1B79F9;
    width: 531px;
  }
  .container .title{
    margin: 15px 0 34px 0 ;
    .w_en{
      font-size: 18px;
      font-family: "MicrosoftYaHeiUI";
      color: #1B79F9;
      margin-bottom: 0;
    }
    .w_zh{
      font-size: 18px;
      color: #333;
      font-family: "SourceHanSansCN-Normal";
      margin-bottom: 0;
    }
    .short_line{
      width: 21px;
      border: 1px solid #1B79F9;
      margin-top: 31px;
    }
  }
} 

.coverage_section{
  padding-top: 30px;
  height: 488px;
  width: 100%;
  background-color: #3AA4FF;
  .line{
    margin-top: 32px;
    border-bottom: 1px solid #fff;
    width: 531px;
  }
  .container .title{
    margin: 15px 0 33px 0 ;
    .w_en{
      font-size: 18px;
      line-height: 18px;
      font-family: "MicrosoftYaHeiUI";
      color: #FFA81E;
      margin-bottom: 2px;
    }
    .w_zh{
      font-size: 18px;
      line-height: 18px;
      color: #fff;
      font-family: "SourceHanSansCN-Normal";
      margin-bottom: 0;
    }
    .short_line{
      width: 21px;
      border: 1px solid #fff;
      margin-top: 31px;
    }
  }
  .coverage_content{
    height: 245px;
    color: #fff;
    .fist_content{
      width: 197px;
      background-color: #fff;
      height: 245px;
      h5{
        color: #333;
        font-family:SourceHanSansCN-Normal;
        line-height: 16px;
        margin: 13px 0 0 20px;
        font-weight: 500;
      }
      p{
        color: #666;
      }
      .show_date{
        color: #999;
        font-size: 12px;
        margin: 10px 0 0 20px;
      }
      .detail{
        margin: 0 10px 0 20px;
      }
    }
    .date{
      height: 48px;
      width: 48px;
      border: 1px solid #fff;
      text-align: center;
      font-size:14px;
      line-height: 24px;
      margin:15px 0 23px 0 ;
    }
    .year{
      font-size: 12px;
    }
    h5{
      margin-bottom: 17px;
    }
    .more{
      font-size: 12px;
      color: #fff;
      margin-top: 35px;
      display: inline-block;
    }
  }
}

.guide_section{
  margin-top: 70px;
  height: 676px;
  width: 100%;
  background-color: #fff;
  .line{
    margin-top: 33px;
    border-bottom: 1px solid #1B79F9;
    width: 531px;
  }
  .guide_content{
    margin-top: 63px;
    h4{
      height:18px; 
      font-family:SourceHanSansCN-Normal;
      color:rgba(51,51,51,1);
      line-height:18px;
      margin: 44px 0 18px 0;
    }
    .link{
      margin-bottom: 11px;
      
      height: 15px;
      line-height: 15px;
      a{
        color: #666;
      }
    }
    .guide_btn{
      border-radius: 18px;
      background-color: #FFA81E;
      width:122px;
      height:38px;
      line-height: 38px;
      border: none;
      color: #fff;
      padding: 0;
      font-size: 16px; 
    }
    .guide_img{
      margin-top: -15px;
    }
  }
  .container .title{
    margin: 15px 0 34px 0 ;
    .w_en{
      font-size: 18px;
      font-family: "MicrosoftYaHeiUI";
      color: #1B79F9;
      margin-bottom: 0;
    }
    .w_zh{
      font-size: 18px;
      color: #333;
      font-family: "SourceHanSansCN-Normal";
      margin-bottom: 0;
    }
    .short_line{
      width: 21px;
      border: 1px solid #1B79F9;
      margin-top: 31px;
    }
  }
}


.footer{
  .bottom_nav{
    color: #ccc;
    
    height: 272px;
    background-color:#303030;
    h5{
      font-size: 18px;
      line-height: 18px;
      margin:46px 0 38px 0 ;
    }
    .link{
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 21px;
      a{
        color: #ccc;
      }
    }
 
  }
  .copyright{
    height: 40px;
    background-color: #3D3D3D;
    line-height: 40px;
    text-align: center;
    color: #fff;
  }
}