.table-grid {
    display: table;
    width: 100%;
    border-collapse: separate;
    padding: 0 50px;
}
.data-table{
    background-color: #fff;
    border-radius: 10px;
}
.table-grid .theader,.table-grid .tr {
    display: table-row
}

.table-grid .tr:hover {
    background:#FAFBFF
}

.table-grid .thead {
    display: table-row-group; 
    height: 122px;
    
    text-align: left;
    background-color: #fff;
}

.table-grid .tbody {
    display: table-row-group
}

.table-grid.no-items .tbody {
    padding: 3em 1em;
    caption-side: bottom;
    display: table-caption;
    text-align: center
}

.table-grid .th,.table-grid .td {
    display: table-cell;
    vertical-align: middle
}

.table-grid .caption {
    caption-side: bottom;
    display: table-caption;
    text-align: center
}

#home .market-data {
    color: #a7a9b7
}
.market-data .tabs{
    margin-bottom: 21px;
    width: 700px;
    height: 80px;
    line-height: 76px;
    border-radius: 40px;
    background-color: #fff;
    overflow: hidden;
    margin-top: 20px;
}
.market-data .tab {
    background-color: #fff;
    text-align: center;
    color: #999;
    font-size: 20px;
    display: inline-block;
    height: 76px;
    width: 33%;
    cursor: pointer;
    span{
        display: inline-block;
        height: 100%;
        padding: 0 5px;
    }
}
.trade_area{
    font-size: 14px;
  }
.border_line{
    height: 2px;
    background: linear-gradient(to right,rgb(246, 95, 63), rgb(255, 177, 68));
    width: 120px;
    transition: all 0.4s;

}
#globalMarket .market-data .tab {
    width: 25%
}

.market-data .tab:last-child {
    margin-left: -3px
}

.market-data .tab.active {
    color: #333;

}

.market-data .tab.tab-topten.active {
    color: #fe5c5c;
    background: #FFF
}

.market-data .tab.tab-footten.active {
    color: #3dc18e;
    background: #FFF
}

.market-data .tab i {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 18px
}

.market-data .tab.tab-topten.active i {
    color: #fe5c5c
}

.market-data .thead .td {
    padding: 5px 5px;
    height: 42px;
    border-top: 1px solid #dfe5ea;
}
.market-data .tbody .td {
    padding: 15px;
    // height: 54px;
    border-top: 1px solid #dfe5ea
}

.market-data .thead .td {
    border-top: 0
}

.market-data i.coin-icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
    margin-top: 0;
    margin-right: 6px
}

.market-data i.coin-icon:before {
    display: none
}

.market-data .thead .tr .td {
    color: #666;
    font-size: 14px
}

.market-data .thead .tr .td .fa {
    color: #ddd;
    line-height: 7px
}

.market-data .risefall {
    display: inline-block;
    width: 15px;
    position: relative;
    height: 15px;
    vertical-align: middle
}

.market-data .risefall i {
    display: block
}

.market-data .thead .tr .td .risefall.r-up .fa.fa-caret-up,.market-data .thead .tr .td .risefall.r-down .fa.fa-caret-down {
    color: #E00
}

.sindex {
    display: inline-block;
    width: 25px;
    color: #a7a9b7;
    font-size: 12px;
    vertical-align: middle
}

.market-data span.money {
    color: #a7a9b7;
    font-size: 14px;
    display: inline-block;
}

.market-data .textLeft {
    text-align: left
}

.market-data .tbody .market-name .coin {
    font-weight: bold;
    color: #000;
    font-size: 16px;
}

.market-data .tbody .real-time-price {
    color: #000
}

.market-data .num {
    text-align: right
}

.market_tab_bd .tr .td {
    position: relative;
    font-size: 14px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
}
.market_tab_bd .tr .links a{
    display: inline-block;
    width: 45%;
    border-radius: 4px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    background-color: #4353D0;
    border-radius: 17px;
    font-size: 12px;
}
.market_tab_bd .tr .links a.trade{
    background-color: #1BB8CE;
    margin-left: 6px;

}
.market_tab_bd .tr .links a:hover{
    color: #fff;
    background-color: #2F3FBC;
    text-decoration: none;
}
.market_tab_bd .tr .links a.trade:hover{
    color: #fff;
    background-color: #0EA2B7;
    text-decoration: none;
}

.market_tab_bd .go-trade {
    margin-left: 10px;
    position: absolute;
    right: 25px;
    top: 14px;
    display: block;
    width: 6px;
    height: 13px
}

.market_tab_bd .go-trade i {
    display: inline-block;
    width: 6px;
    height: 13px;
    background: url(/statics/img/v3/home/icon-goright-g.png);
    background-size: cover;
    vertical-align: middle;
    margin-top: -2px
}

.market_tab_bd .tr:hover .go-trade i {
    display: inline-block;
    width: 6px;
    height: 13px;
    background: url(/statics/img/v3/home/icon-goright-y.png);
    background-size: cover
}
.market-filter {
    border: 1px solid #DDD;
    border-radius: 20px;
    float: right;
    
    position: relative;
    margin: 30px 49px 12px 0;
}
.market-filter input {
    border: 0;
    padding: 3px 16px;
    height: 40px;
    width: 220px;
    background: transparent;
    outline: 0 none;
}
.market-filter i {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size:28px;
    line-height:40px!important;
    color:#4353D0!important;            
}

.text-second{
    color: #27AE60
}
.text-primary{
    color: #FB5555
}
.load_more{
    background: #F7F7F7;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #010101;
    font-size: 20px;
    font-family: MicrosoftYaHei;
    border-radius: 40px;
    cursor: pointer;
    a{
        color: #010101;
        
    }
    a:hover{
        text-decoration: none;
    }

}

.coinImg{
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 6px;
}